.explore-wrap {
 width: 100vw;
 height: 100vh;
 .explore-body { 
     padding-top: 130px;
     margin-left: 135px;
     margin-right: 135px;
     display: flex;
     flex-direction:column ;
     justify-content: space-evenly
 }
 .filters {
     display: flex;
     flex-direction: row;
 }
 .p {
     font-size: 12pt;
 }
 .h2{
     font-size: 25pt;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     width: 80%;
     font-weight: bold;
     .city {
         text-transform: capitalize;
         padding-left: 7px;
     }
 }
 .filter-btn {
     border-color: gray;
     margin-right: 7px;
     margin-top: 25px;
     margin-bottom: 25px;
     font-size: 11pt;
 }
 .add-btn {
    border-color: white;
    color: white;
    background-color: #E41D56;
    margin-right: 7px;
    margin-top: 8px;
    margin-left: 8px;
    font-size: 11pt;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .locations-wrap {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     padding-top: 10px;
     width: 100%;
     height: 100vh;
     .location-clickable-wrap {
         width: 16vw;
         display: flex;
         flex-direction: column;
         justify-content:space-between ;
         padding: 10px;
         .type-and-location {
            text-transform: capitalize;
        }
        .location-clickable {
            border-radius: 10px;
            a {
                color: black!important
            }
            img { 
                height: 210px;
                width: 100%;
                border-radius: inherit;
            }
            
         }
         .rating {
            font-size: 11pt;
            display: flex;
            flex-direction: row;
            align-items: center;
         }
        
     }
     
 }
}